*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;  
    margin: 0 0;
    padding: 0 0;
}

body, a {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
} 

.header {
    width: 100%;
    background-color: hsl(193, 100%, 96%);
    background-image: url("../images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 1.8rem 0;
}

@media (min-width: 1000px) {
    .header {
        background-image: url('../images/bg-hero-desktop.svg')
    }
}

/* ==============================================================
                            NAV
============================================================== */

.main-nav {
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

    .main-nav__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0 0;
        margin: 0 1rem 1.3rem;
    }

        .main-nav__item {
            display: inline;
            align-self: center;
        }

            .main-nav__image {
                width: 6.5rem;
                margin-top: 0.5rem;
            }

        .main-nav__item--button {
           text-align: center;
        }

            .main-nav__link {
                display: block;
                text-decoration: none;
                color: black;
                width: 6rem;
                height: 1.45rem;
                background-color: white;
                border-radius: 1.2rem;
                box-shadow: 0 0 1.8vw 0.6vw rgba(56, 56, 56, 0.1);
                font-weight: bold;
                font-size: 0.6rem;
                line-height: 1.4rem;
                transition: all 0.25s ease-in;
            }

            .main-nav__link:hover {
                background-color: hsl(322, 100%, 66%);
                color: white;
            }

            .main-nav__link:active {
                box-shadow: none;
            }
        

@media (min-width: 1000px) {
    .main-nav__list {
        margin: 1.7rem 5.2rem 1.9rem;
    }

    .main-nav__image {
        width: 11.81rem;
        margin-top: 0.4rem;
    }
    
    .main-nav__link {
        width: 12.3rem;
        height: 3rem;
        border-radius: 1.8rem;
        box-shadow: 0 0.2rem 0.8rem 0rem rgba(56, 56, 56, 0.1);
        font-size: 0.9rem;
        line-height: 2.78rem;
    }
}

/* ==============================================================
                            LEAD
============================================================== */

.lead-pitch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}   

    .lead-pitch__blurb {
        flex: 1 1 auto;
        width: 89%;
        margin: 0 auto;
    }

        .lead-pitch__header {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2.18rem;
            padding: 0 0;
            margin: 0 0;
        }

        .lead-pitch__copy {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin: 1.3rem 0 2.3rem;
        }

        .pink-button {
            display: block;
            background-color: hsl(322, 100%, 66%);
            border-radius: 5.8vw;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: all 0.25s ease-in;
        }

            .pink-button:hover {
                background-color: white;
                color: hsl(322, 100%, 66%);
            }

            .pink-button:active {
                box-shadow: none;
            }
        
            .pink-button--lead {
                width: 79.4%;
                height: 2.45rem;
                font-size: 0.74rem;
                line-height: 2.38rem;
                word-spacing: 0.05rem;
                box-shadow: 0 0 2vw 0.5vw hsla(322, 100%, 66%, 0.199);
                margin: 1rem auto;
            } 

    .lead-pitch__figure {
        flex: 1 1 auto;
        width: 89%;
        padding: 0 0;
        margin: 2.38rem auto 0;
    }
    
        .lead-pitch__image {
            width: 100%;
        }

@media (min-width: 800px) {
    .lead-pitch__header {
        font-size: 2.2rem;
        line-height: 3rem;
        word-spacing: -0.02rem;
    }   
}

@media (min-width: 1000px) {
    .lead-pitch {
        width: 88.9%;
    }

    .lead-pitch__blurb {
        width: 45.5%;
        text-align: left;
        align-self: center;
    }

        .lead-pitch__header {
            font-weight: 500;
            font-size: 2.539rem;
            line-height: 3.75rem;
            word-spacing: -0.02rem;
            padding: 0 0;
            margin: 1.1rem 0 0;
        }

        .lead-pitch__copy {
            font-size: 1.12rem;
            font-weight: 400;
            line-height: 1.69rem;
            word-spacing: 0.015rem;
            margin: 1.68rem 0 2.04rem;
            width: 90%;
        }

        .pink-button--lead {
            width: 47.9%;
            height: 3.5rem;
            font-size: 0.86rem;
            line-height: 3.4rem;
            word-spacing: 0.03rem;
            box-shadow: 0 0.1rem 0.5rem 0.1rem hsla(322, 100%, 66%, 0.199);
            margin: 0;
        } 

    .lead-pitch__figure {
        width: 54.5%;
        margin-top: 2.1rem;
    }

    .lead-pitch__image {
        width: 99.2%;
        margin-right: 0.2rem;
    }
}

/* ==============================================================
                            CARD SECTION
============================================================== */



.card-container {
    width: 100%;
    text-align: center;
    padding-top: 1.05rem;
}

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 88.9%;
        height: 30.3rem;
        border-radius: 1rem;
        box-shadow: 0 0 2.2vw 0.4vw rgba(57, 60, 63, 0.1);
        margin: 2.6rem auto;
    }

        .card--wrap {
            flex-wrap: wrap;
        }

        .card--reverse {
            flex-wrap: wrap-reverse;
        }

        .card__figure {
            flex: 0 1 auto;
            margin: 0 auto;
            height: 40%;
        }

            .card__image {
                height: 100%;
            }

        .card__text {
            width: 79%;
            height: 28%;
            flex: 0 1 auto;
            margin: 0 auto;
        }

            .card__header {
                color: hsl(184, 97%, 12%);
                font-size: 1.25rem;
                margin: 0 auto 0.8rem;
            }

            .card__copy {
                color: hsl(210, 13%, 69%);
                font-size: 0.875rem;
                line-height: 1.3rem;
            }

                .card__copy--users {
                    margin: 0 0.5rem;
                }

@media (min-width: 1000px) {
    .card-container {
        margin-bottom: 1.4rem;
    }

        .card {
            width: 85.65%;
            height: 27.5rem;
            justify-content: center;
            align-content: space-between;
            padding-left: 8.35vw;
            box-shadow: 0 0 1rem 0.15rem rgba(57, 60, 63, 0.08);
        }

            .card__figure {
                align-self: center;
                margin: 0;
            }
                
                .card__figure--together {
                    height: 76%;
                    width: 36.5%;
                    margin-right: 2.06rem;
                }

                .card__figure--flowing {
                    height: 68%;
                    width: 37.8%;
                }

                .card__figure--users {
                    height: 71%;
                    width: 37.8%;
                    margin-right: 1.68rem;
                }

                .card__image {
                    height: 100%;
                    width: 100%;
                    margin: 0;
                }

            .card__text {
                width: 47.5%;
                height: 40%;
                align-self: center;
                flex: 0 1 auto;
                text-align: left;
                margin: 2.6rem 0 0;
            }

                .card__header {
                    font-size: 1.753rem;
                    margin: 0 auto 0.75rem;
                }

                .card__copy {
                    font-size: 1.124rem;
                    line-height: 1.72rem;
                    margin: 0 2.1rem 0 0.04rem; 
                }
}

/* ==============================================================
                FLOATING SECTION WITH PINK BUTTON
============================================================== */

.floater {
    position: relative;
    top: 4.9rem;
    width: 93.9%;
    height: 11rem;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 0 0 2vw 0.5vw rgba(71, 73, 75, 0.1);
    margin: 0 auto;
}

    .floater__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: 1rem 0 1.3rem;   
    }

        .floater__header {
            flex: 0 1 auto;
            font-size: 1.126rem;
            margin: 0 auto;
        }

        .pink-button--floater {
            flex: 0 1 auto;
            width: 56.5%;
            height: 2.55rem;
            font-size: 0.6rem;
            line-height: 2.4rem;
            word-spacing: 0.06rem;
            box-shadow: 0 0.2rem 0.3rem rgba(26, 26, 27, 0.2);
            margin: 0 auto 0;
        }

@media (min-width: 1000px) {
    .floater {
        top: 7.4rem;
        width: 55.6%;
        height: 17.5rem;
        box-shadow: 0 0 0.9rem 0.01rem rgba(71, 73, 75, 0.08);
    }

        .floater__container {
            padding: 1.7rem 0 2.2rem; 
            justify-content: space-evenly;
        }

        .floater__header {
            width: 80%;
            font-size: 2rem;
            margin-top: 2.425rem; 
        }

        .pink-button--floater {
            width: 49.8%;
            height: 5rem;
            font-size: 1.22rem;
            line-height: 5.1rem;
            word-spacing: 0.06rem;
            box-shadow: 0 0.35rem 0.55rem 0.2rem rgba(26, 26, 27, 0.14);
            margin: 2.2rem auto 1rem;
        }
}

/* ==============================================================
                            FOOTER
============================================================== */

.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 9.4rem 1rem 10vw;
    color: white;
    text-decoration: none;
}

    .footer-icon {
        margin: 0;
    }

        .footer-icon__image {
            width: 10.45rem;
        }

    .footer-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .sidebar-container {
        margin-top: 1.2rem;
    }
    
        .sidebar {
            display: flex;
            font-size: 1rem;
            margin-bottom: 1.6rem;
        }

            .sidebar__figure {
                display: inline-block;
                flex: 0 0 auto;
            }

                .sidebar__figure--location {
                    margin: 0.35rem 1.45rem 0 0;
                }

                .sidebar__figure--phone {
                    margin: 0.12rem 0.97rem 0 0.16rem;
                }

                .sidebar__figure--email {
                    margin: 0.13rem 0.87rem 0 0.15rem;
                }

                    .sidebar__icon {
                        width: 100%;
                    }

            .sidebar__content {
                flex: 0 1 auto;
                color: white;
                text-decoration: none;
                margin: 0 0.2rem;
            }

            .sidebar__content:hover {
                color: hsl(322, 100%, 66%);
                transition: color 0.2s ease-in;
            }

    .internal-links {
        margin: 0.3rem 0;
        width: 100%;
    }

        .internal-links__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            font-size: 1.09rem;
            padding: 0;
        }

            .internal-links__divider {
                width: 100%;
                margin: 0;
                padding: 0;
            }

                .internal-links__item {
                    margin: 0.58rem 0 0;
                }

                .internal-links__link {
                    text-decoration: none;
                    color: white;
                }

                .internal-links__link:hover {
                    color: hsl(322, 100%, 66%);
                    transition: all 0.2s ease-in;
                }

    .social-links {
        text-align: center;
        width: 100%;
    }

        .social-links__list {
            list-style-type: none;
            text-align: center;
            margin: 1.1rem 0 0;
            padding: 0;
        }

            .social-links__item {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                margin: 0 0.3rem;
                padding: 0;
            }

                .social-links__link {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }

                    .social-links__link::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 0.05rem solid white;
                        border-radius: 50%;
                    }

                        .social-links__icon {
                            align-self: center;
                            color: white;
                            font-size: 0.95rem;
                            margin: 0;
                            padding: 0;
                        }

                        .social-links__link:hover::after {
                            border-color: hsl(322, 100%, 66%);
                            transition: border-color 0.2s ease-out;
                        } 

                        .social-links__link:hover .social-links__icon {
                            color: hsl(322, 100%, 66%);
                            transition: color 0.2s ease-out;
                        }

    .legal {
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
        font-weight: 400;
        text-align: center;
        margin: 1.4rem auto 0.3rem; 
    }

        .legal__copyright {
            margin: 0 auto;
        }

        .legal__attribution { 
            font-size: 0.7rem; 
            margin: 0 auto;
        }

            .legal__link { 
                color: hsl(0, 0%, 100%); 
                transition: color 0.2s ease-out;
            }

            .legal__link:hover {
                color: hsl(322, 100%, 66%);
            }

@media (min-width: 1000px) {
    .footer {
        padding: 11.99rem 5rem 2.6rem 7.5rem;
    }
    
    .footer-icon__image {
        width: 15rem;
    }

    .footer-links {
        margin-top: 1rem;
        justify-content: space-between;
    }
        
        .sidebar-container {
            margin-top: 1.2rem;
            width: 31.5%;
        }

            .sidebar {
                margin-bottom: 1.5rem;
            }

                .sidebar__figure--location {
                    margin-top: 0.48rem;
                }

                .sidebar__content {
                    line-height: 1.5rem;
                }

        .internal-links {
            margin: 0.12rem 0;
            width: 27%;
            height: 10rem;
        }

            .internal-links__divider {
                width: 33%;
            }

            .internal-links__list {
                justify-content: space-between;
                font-size: 1.12rem;
            }

                .internal-links__item {
                    margin: 0 0 1.2rem;
                }

        .social-links {
            width: 22.4%;
        }

            .social-links__list {
                float: left;
                margin: 1.2rem 0 0 0.8rem;
            }

                .social-links__item {
                    width: 1.95rem;
                    height: 1.95rem;
                    margin: 0 0.28rem;
                    padding: 0;
                }

                    .social-links__icon {
                        font-size: 0.85rem;
                    }

        .legal {
            font-size: 0.756rem;
            font-weight: 400;
            text-align: right;
            margin: 0.95rem auto 0.3rem; 
        }
}