html, body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0;
    padding: 0 0;
}

/* ==============================================================
                            NAV
============================================================== */

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

    .main-nav__list {
        list-style-type: none;
        padding: 0 0;
        margin: 6vw 4vw;
    }

        .main-nav__item {
            display: inline-flex;
            align-self: center;
        }

        .main-nav__item--button {
            float: right;
            background-color: white;
            border-radius: 5vw;
            box-shadow: 0 0 2vw 0.5vw rgba(0, 0, 0, 0.1);
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 2.6vw;
            padding: 1.5vw 6vw;
        }

    .main-nav__link {
        display: block;
        text-decoration: none;
        color: black;
    }

        .main-nav__image {
            width: 27vw;
            margin-top: 2vw;
        }

/* ==============================================================
                            LEAD
============================================================== */

.lead-pitch {
    /* width: 100%; */
    background-color: hsl(193, 100%, 96%);
    background-image: url("../images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 20vw 9.9vw 8vw;
}

    .lead-pitch__header {
        font-family: 'Poppins', sans-serif;
        font-size: 6.3vw;
        padding: 0 0;
        margin: 0 0;
    }

    .lead-pitch__copy {
        font-weight: 400;
        font-size: 4.2vw;
    }

    .lead-pitch__figure {
        width: 100%;
        padding: 0 0;
        margin: 12vw 0 0;
    }
    
    .lead-pitch__image {
        width: 100%;
    }

.pink-button {
    display: block;
    background-color: hsl(322, 100%, 66%);
    border-radius: 5vw;
    text-decoration: none;
    margin: auto;
}

    .pink-button--lead {
        width: 73%;
        padding: 3vw;
    }

.pink-button__text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
}

    .pink-button__text--lead {
        font-size: 3.1vw;
        word-spacing: 0.2vw;
    }   


/* ==============================================================
                            CARD SECTION
============================================================== */



.card-container {
    width: 100%;
    text-align: center;
}

.card {
    border-radius: 5vw;
    box-shadow: 0 0 2vw 0.5vw rgba(0, 0, 0, 0.1);
    padding: 5.4vw 2.2vw;
    margin: 8vw 5.4vw;
}

.card__image {
    width: 100%;
}

.card__text {
    margin: 0 8vw;
}

.card__header {
    font-family: 'Poppins', sans-serif;
    font-size: 5.3vw;
}

.card__copy {
    color: hsl(208, 11%, 55%);
    font-size: 3.72vw;
}

.floater {
    position: relative;
    top: 20vw;
    width: 94.5%;
    height: 50vw;
    border-radius: 5vw;
    background-color: white;
    box-shadow: 0 0 2vw 0.5vw rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.floater__header {
    font-family: 'Poppins', sans-serif;
    font-size: 4.82vw;
}

.pink-button--floater {
    width: 49.5%;
    padding: 3vw;
}

.pink-button__text--floater {
    font-size: 2.6vw;
    word-spacing: 0.2vw;
}   



/* ==============================================================
                            FOOTER
============================================================== */

.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 30vw 4.3vw 10vw;
}

.footer-icon {
    margin: 0;
}

.footer-icon__link {
    /* margin-left: 5vw; */
}

.footer-icon__image {
    width: 44.5vw;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}